.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F8F8F8;
  margin-top: 20px;
  @media screen and (max-width: 730px) {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .section__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 147px;
    margin-right: 20px;
    padding: 20px;

  }
  p {
    text-align: center;
    font-size: 15px;
    color: #878787;
    margin-top: 10px;
  }
}