.description {
  margin-top: 20vh;
}
.main-content {
  display: flex;
  align-items: center;
  img {
    width: 900px;
    height: 500px;
    margin-top: 13vh;
  }
  h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    padding-top: 20px;
  }
}
.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F8F8F8;
  margin-top: 20px;
.section__content {
  img{
    width: 100px;
  }
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

}
  p {
    text-align: center;
  }
}
