.attractions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
}
.attractions__description {
  border: 1px solid lightpink;
  border-radius: 5px;
  width: 300px;
  height: 290px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    text-align: center;
    margin: 20px;
    font-size: 15px;
    line-height: 1.7;
    color: rgba(135, 135, 135, 0.75);
  }
  h2 {
    text-align: center;
    color: rgba(135, 135, 135, 0.75);
    font-weight: bold;
    font-size: 20px;
  }
  button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;

  }
}