.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blurb__container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 50px auto;
  img, a {
    margin: 0 auto;
    height: 140px;
  }
  h2 {
    margin: 20px auto;
    font-size: 20px;
  }
  p {
    margin: 0 auto;
    text-align: justify;
    line-height: 1.7rem;
    font-size: 15px;
    color: #878787;
    display: block;
  }
}
.container__content {
  max-width: 250px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 0 1em darkgreen;
  height: 435px;
  margin: 20px;
}
