.booking-pricing__rules {

  h2 {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    margin: 20px;
  }

  p {
    line-height: 1.7;
    color: #878787;
    text-align: center;
  }
}

.booking-pricing__description {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
  flex-wrap: wrap;
}

.booking-pricing__details {
  color: #878787;
  box-shadow: 0 0 1em lightpink;
  padding: 20px;
  margin-top: 20px;

.img1, .img2 {
  margin: 0 auto;
  display: block;
  border-radius: 3px;
}

  .img1 {
    width: 290px;
    height: 300px;
  }
  .img2 {
    width: 300px;
    height: 290px;
  }
p, h4, h3 {
  margin-top: 20px;
}
  h3, h4 {
    font-weight: bold;
  }
  h3 {
    text-align: center;
    font-size: 22px;
  }

  h4 {
    font-size: 17px;
  }

  p {
    text-align: justify;
  }
}