.booking-banner {
  margin-bottom: 70px;
  width: 100%;
  background-image: url(../images/Hawaje2.jpg);
  height: 400px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  //position: absolute;
}
.booking-banner__title {
  text-align: center;
  color: #fff;
}