footer {
  background-color: rgba(50, 126, 50, 0.99);
  flex: 1;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  padding: 1.25rem 1.875rem;
  justify-content: space-evenly;
}

.address, .contact, .links, .logo {
  padding: 1.25rem;
  min-width: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.address, .contact {
  font-size: 15px;
  line-height: 1.7;
  color: white;
  h3 {
    font-size: 18px;
    font-weight: bold;
  }
}

.logo {
  img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
}