
footer {
  background-color: rgba(50, 126, 50, 0.99);
}
.footer {
  display: flex;

  width: 100%;
  align-items: center;
  justify-content: space-around;

}
.logo {
  img {
    width: 70px;
    height: 70px;
    border-radius: 50%;

  }
}
.address {
  p {
    text-align: justify;
    font-size: 15px;
    line-height: 1.7;
    color: white;
    display: block;
    margin: 40px;
  }
}

.information {
  h3 {
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

