.navbar {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0;
  background-color: darkgreen;
}

.logo {
  img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
}
.menu {
  margin-left: auto;
}
.menu ul {
  display: flex;
  padding: 0;
}
.menu li {
  list-style-type: none;
  margin: 0 1rem;
}
.menu li a {
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
}
.hamburger {
  padding: 0.5rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
  background: none;
  border: none;
  img {
    height: 40px;
    width: 40px;
  }

}
.hamburger:hover {
  background-color: gray;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .menu ul {
    position: absolute;
    top: 75px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: rgba(0, 100, 0, 0.78);
    border-top: 1px solid black;
    text-align: center;
    display:none;
  }
  .menu li {
    text-align: center;
    margin: 0;
  }
  .menu li a {
    color: white;
    width: 100%;
    padding: 1.5rem 0;
    font-size: 1.5rem;
  }
  .menu li:hover {
    background-color: #eee;
  }
}
@media screen and (max-width: 768px) {
  .menu.expanded ul {
    display: block;
  }
}