header {
  width: 100%;
  background-color: rgba(0,0,0,0.2);
}
.container {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}

.logo {
  img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
}

ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

li {
  margin: 20px;
}

a {
  text-decoration: none;
  color: white;
}