.rooms-section {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    text-align: center;
    font-size: 2rem;
    padding: 20px;
  }
}

.box {
  display: flex;
  margin: 40px 10px;
  border-radius: 4px;
  box-shadow: 0 0 1em #006400;
  @media screen and (max-width: 890px) {
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  img {
    width: 400px;
    height: 270px;
    @media screen and (max-width: 465px) {
      width: 250px;
      height: 150px;
    }
    }
  .box-description {
    flex-direction: column;
    h3 {
      text-align: center;
      margin: 20px;
      font-size: 20px;
      color: #878787;
    }
    .box-icons {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
    }
  }

  p {
    text-align: justify;
    margin: 20px;
    line-height: 1.5rem;
    font-size: 15px;
    color: #878787;
    display: block;
  }
}
.box-description {
  display: flex;
  img {
    height: 25px;
    width: 30px;
  }
}
.rooms-details {
  max-width:1080px;
}