.rooms-section {
  margin: 20px;
  h2 {
    text-align: center;
    font-size: 2rem;
    padding: 20px;
  }
}
.room-details {
  position: relative;
  min-height: 20rem;
  box-shadow: 0 0 18px 1px rgb(0 0 0 / 10%);
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.box {
  display: flex;
  margin: 40px 10px;
  border-radius: 2px;
  box-shadow: 0 0 1em lightpink;
  .box-description {
    flex-direction: column;
    h3 {
      text-align: center;
      margin: 20px;
      font-size: 20px;
      color: #878787;
    }
    .box-icons {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
    }
  }
  img {
    width: 400px;
    height: 270px;
  }
  p {
    text-align: justify;
    margin: 20px;
    line-height: 1.5rem;
    font-size: 15px;
    color: #878787;
    display: block;
  }
}
.box-description {
  display: flex;
  img {
    height: 25px;
    width: 30px;
  }
}